@font-face {
	font-family: 'Segoe UI';
	src: url('../assets/fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('../assets/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../assets/fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../assets/fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('../assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/SegoeUI.woff') format('woff'),
		url('../assets/fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../assets/fonts/Whitney-Semibold.eot');
  src: local('Whitney Semibold Regular'), local('Whitney-Semibold'),
      url('../assets/fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Whitney-Semibold.woff') format('woff'),
      url('../assets/fonts/Whitney-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('../assets/fonts/Whitney-Medium.eot');
  src: local('Whitney Medium Regular'), local('Whitney-Medium'),
      url('../assets/fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Whitney-Medium.woff') format('woff'),
      url('../assets/fonts/Whitney-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney Book';
  src: url('../assets/fonts/Whitney-Book.eot');
  src: local('Whitney Book Regular'), local('Whitney-Book'),
      url('../assets/fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Whitney-Book.woff') format('woff'),
      url('../assets/fonts/Whitney-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}